doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/bootstrap-theme.min.css" rel="stylesheet")
        link(href="css/bootstrap.min.css" rel="stylesheet")
        link(href="css/font-awesome.css" rel="stylesheet")
        link(href="css/ionicons.css" rel="stylesheet")
        link(href="css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css')
        link(href="slider/css/style.css" rel="stylesheet")
        link(href="CreativeButtons/css/component.css" rel="stylesheet")
        link(href="css/main.css" rel="stylesheet")
        link(href="css/main2.css" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/ScrollToPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js")
        script(src="js/main2.js")
        script(src="js/jquery.js")
        script(src="js/bootstrap.min.js")
        script(src="js/main.js")
        script(src="slider/js/modernizr.custom.04022.js")
    body
        section.bcg-3#habilidades
            .container
                .habilidades.text-center
                    .row.text-center.shadow-1
                        h1.white#lg HABILIDADES
                        .col-md-4
                            img(src="img/hab/code.png")
                            h2.white DESARROLLO FRONT-END
                            P.white HTML5, CSS3, Jade, Sass, Bootstrap, JS, JQuery
                        .col-md-4
                            img(src="img/hab/responsive.png")
                            h2.white WEB RESPONSIVE
                            p.white Tu sitio Web quedará muy bien en cualquier dispositivo
                        .col-md-4
                            img(src="img/hab/write.png")
                            h2.white REDACCIÓN
                            p.white Creacion de todo tipo de escritos; científicos, creativos entre otros
                    .button#main_menu
                        button.btn.btn-5
                            span.span.ion-document
                                a.none(href="#portafolio") ECHA UN VISTAZO A MIS TRABAJOS
